@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria : #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --font-primaria: 'Krona One', sans-serif;
    --font-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu{
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
    font-family: var(--font-secundaria);
    font-weight: 600;
    font-size: 24px;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 36px;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 24px;
    font-family: var(--font-secundaria);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao_subtitulo {
    font-family: var(--font-primaria);
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    font-size: 24px;
    width: 378px;
    padding: 21.5px 0;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    font-family: var(--font-secundaria);
    font-weight: 600;
    transition: .2s;
}

.apresentacao__links__navegacao:hover {
    background: var(--cor-hover);
    color:#FF1493;
    /*border: 5px double var(--cor-terciaria);*/
    outline: 5px;
}

.apresentacao__imagem {
    width: 50%;
}

.rodape {
    padding: 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--font-secundaria);
    font-weight: 400;
    font-size: 24px;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho_menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}
